<div class="table-responsive">
  <table class="table table-striped table-hover text-center w-auto">
    <thead class="table-dark">
      <tr>
        <th scope="col">Azonosító</th>
        <th scope="col">Név</th>
        <th scope="col">Típus</th>
        <th scope="col">Erő</th>
        <th scope="col" colspan="2">Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let robot of data" class="align-middle">
        <th scope="row">{{ robot.id }}</th>
        <td>{{ robot.name }}</td>
        <td>{{ robot.type }}</td>
        <td>{{ robot.strength }}</td>
        <td><button type="button" class="btn btn-primary">Kiválaszt</button></td>
        <td><button type="button" class="btn btn-danger">Törlés</button></td>
      </tr>
    </tbody>
  </table>
</div>