<table class="table table-hover table-responsive">
    <thead class="table-dark">
        <tr>
            <th scope="col">Azonosító</th>
            <th scope="col">Név</th>
            <th scope="col">Típus</th>
            <th scope="col">Erő</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let robot of robotList">
            <td>{{robot.id}}</td>
            <td>{{robot.name}}</td>
            <td>{{robot.type}}</td>
            <td>{{robot.strength}}</td>
        </tr>
    </tbody>
</table>